
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=PT+Sans&display=swap');
body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;

}
* {
	box-sizing: border-box;
}
header {
	display: flex;
	width: 100%;

}
header > .logo {
	flex: 3;
	padding: 10px;
}
header > .logo > h2 {
 padding: 0;
 margin: 0;
}
header > .logo > h5 {
	padding: 0;
 	margin: 0;
}
header > nav {
	flex: 2;
	display: flex;
}
header > nav > ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
header > nav > ul > li {
	list-style: none;
}
header > nav > ul > li > a {
	display: block;
	text-decoration: none;
}
main {
	width: calc(100%);
}
section {
	position: relative;
	padding-left: max(15vw, 14px);
	padding-right: max(15vw, 14px);
}
#about::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: -1;
	background: url(../assets/back1.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: opacity(0.5);
	clip-path: polygon(0% 0%,53% 19%,100% 10%,100% 77%,0% 100%);
}
.abi {
	width: 300px;
	float:right;
}
section > .block {
	padding: 20px;
}
section > .block > h3 {
	font-family: 'Dancing Script', cursive;
	font-size: 32px;
}
section > .block > ul{
	position: relative;
}
section > .block > ul::before {
	content: '';
	position: absolute;
	left: 140px;
	top: -34px;
	width: 60vw;
	height: 2px;
	background: black;
}
section > .block > ul > li {
	list-style: none;
	padding: 4px;
	font-size: 18px;
	position: relative;
}
section > .block > ul > li::before {
	content: '';
	position: absolute;
	left: -28px;
	top: 10px;
	transform: rotate(50deg) scale(0.6);
	border-radius: 20px;
	width: 35px;
	height: 12px;
	background: rgba(219, 15, 66, 0.745);

}
h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	font-weight: bolder;
}
#gal {
	padding: max(20vw, 14px);
	
}
#gal::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: -1;
	background-image: url(../assets/back2.jpeg);
	background-repeat: no-repeat;
	filter: opacity(0.5);
}
#gal > .images {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:4px;
}

#gal > .images > img {
	width: 100%;
}
#gal > .images > img:nth-child(1) {
	grid-column: 1/3;
}
#gal > .images > img:nth-child(4) {
	grid-column: 1/3;
}